.coordMapping
    display inline-block
    width 45%
    border 1px solid #f2f2f2
    padding 5px

.coordMappingSpacer
    display inline-block
    width 5%

.example-value
    margin 10px 20px

.coordExampleValue
    margin-top 5px

.dateRangeFilterMapping
    width 95%
    border 1px solid #f2f2f2
    padding 5px

.dateRange
    display inline-block
    width 45%
    padding 5px

.dateRangeFilter
    vertical-align top

.dateExampleValue
    margin-top 5px

.jsonrowDataContainer
    padding 20px
    border-top 1px solid #e5e5e5

    .jsonrowDataContainerHeader
        padding-bottom 20px

        .hide-keymap-preview
            float right
            cursor pointer
        .show-keymap-preview
            float right
            display none
            cursor pointer

