$headerHeight = 54px

.m-header-wrapper
  background-color #cfe3e2
  color white
  height $headerHeight
  vertical-align middle
  padding 0 15px

.m-title-figure-img
  height 45px
  width 45px
  margin-top -18px
  margin-right 5px

.m-logo
  display inline

.m-app-title
  display inline
  font-size 32px
  line-height $headerHeight
  cursor pointer
  position relative
  top 3px
  color black
