html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.app-tab-column {
    position: absolute;
    top: 60px;
    right: 10px;
}
#map {
    width: 100%;
    height: calc(100% - 50px);
    position: absolute;
    top: 50px;
}

path.border {
    stroke: black;
}
