html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.app-tab-column {
    position: absolute;
    top: 60px;
    right: 10px;
}
#map {
    width: 100%;
    height: calc(100% - 50px);
    position: absolute;
    top: 50px;
}

path.border {
    stroke: black;
}

#popup {
  opacity: 0.8;
  background-color: #FFFFFF;
  border:1px solid #999999;
  margin-top: 15px;
  position:absolute;
  text-align:left;
  width: 200px;
  z-index:50;
  padding: 5px 5px 5px 5px;
}
