button.m-add-resource-type
  >label
    padding-left 10px

#compute-resource-detail-widget pre
    max-height 350px
    overflow auto

.m-cluster-details
    cursor pointer

#m-add-cluster-add-field
    cursor pointer
