[
    {
        "pk": 1,
        "model": "people.profile",
        "fields": {
            "profile": null,
            "last_name": "",
            "is_staff": true,
            "user_permissions": [],
            "date_joined": "2015-07-21T16:12:18.072",
            "city": null,
            "first_name": "",
            "area": null,
            "zipcode": null,
            "is_superuser": true,
            "last_login": "2015-07-21T16:17:26.005",
            "email": "admin@geonode.org",
            "username": "admin",
            "fax": null,
            "is_active": true,
            "delivery": null,
            "groups": [
                1
            ],
            "organization": null,
            "password": "pbkdf2_sha256$12000$jgCrk99hgDAw$YxBq7iPxv2B6/CrJYZ41NBiDkUihjXqLwvMw9BzQVrA=",
            "country": null,
            "position": null,
            "voice": null
        }
    }
]
