[uwsgi]
;unix socket (referenced in nginx configuration)
socket = /tmp/%n.sock

# set mode of created UNIX socket
chmod-socket = 666

# place timestamps into log
log-date = true

vacuum = true

; project-level logging to the logs/ folder
logto = /var/log/nginx/uwsgi-%n.log

chdir = {{app_code_dir}}/%n
module = django.core.handlers.wsgi:WSGIHandler()

;enable-threads = true

virtualenv = {{virtualenv_dir}}/{{app_name}}
vacuum = true
env = DJANGO_SETTINGS_MODULE=%n.settings
pidfile = /tmp/%n.pid
;harakiri = 20 # respawn processes taking more than 20 seconds
max-requests = 5000 # respawn processes after serving 5000 requests
