.modal-dialog
  .modal-content.m-mean-contour-widget
    form#m-geojs-contour-form.modal-form(role="form")
        .modal-header
          button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
          h4.modal-title
            | Mean Contour
        .modal-body
          .form-group.m-geojs-contour-input-source
            label.control-label(for="m-geojs-contour-input-source") Input Source
            select.form-control.input-sm#m-geojs-contour-input-source
              each source in sources
                option(value=source.cid)= source.get('name')
          .form-group
            .m-hierarchy-container
          .form-group
            label.control-label(for="m-geojs-contour-parameter") Parameter
            input.input-sm#m-geojs-contour-parameter.form-control(type="text", placeholder="Enter parameter")
          .form-group
            .g-validation-failed-message

        .modal-footer
            a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
            button.m-run-geojs-contour.btn.btn-small.btn-primary(type="submit")
                i.icon-play-circled
                | Run
