.modal-dialog
  .modal-content
    form#m-bsve-add-source-form.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title
          | Add a BSVE source

      .modal-body
        .form-group
          label.control-label(for="m-bsve-source-name") Source name
          input.input-sm#m-bsve-source-name.form-control(type="text", placeholder="Enter a source name")
        .form-group
          label.control-label(for="m-bsve-source-user") User name
          input#m-bsve-source-user.form-control(type="text", placeholder="Enter your BSVE user name")
        .form-group
          label.control-label(for="m-bsve-source-apikey") API key
          input#m-bsve-source-apikey.form-control(type="text", placeholder="Enter your BSVE API key")
        .form-group
          label.control-label(for="m-bsve-source-secretkey") Secret key
          input#m-bsve-source-secretkey.form-control(type="text", placeholder="Enter your BSVE secret key")
        .g-validation-failed-message

        .modal-footer
          a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
          button.m-create-bsve-source-button.btn.btn-small.btn-primary
            i.icon-plus-squared
              | Add Source
