.modal-dialog
  .modal-content
    form#m-add-csv-source-form.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title
          | Upload CSV file

      .modal-body
        .form-group
          label.control-label(for="m-csv-name") Name
          input.input-sm#m-csv-name.form-control(type="text", placeholder="Enter CSV source name")
        .form-group
          label.control-label(for="m-csv-file")
          input#csvFileUpload(type="file")

      .modal-footer
        a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
        button.m-create-csv-source-button.btn.btn-small.btn-primary
            i.icon-upload
            | Upload file
