include uploadWidgetMixins

.modal-dialog
  .modal-content
    form#m-upload-form.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title= title
        +g-upload-widget-subtitle
      .modal-body
        .form-group
          label.control-label(for="m-csv-name") Name
          input.input-sm#m-csv-name.form-control(type="text", placeholder="Enter CSV source name")
        +g-upload-widget-browse-or-drop
        +m-upload-widget-progress
      .modal-footer
        a.btn.btn-small.btn-default(data-dismiss="modal") Close
        +m-upload-widget-start-button
