.modal-dialog
  .modal-content
    form#m-add-elasticsearch-source-form.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title
          | Enter Elasticsearch Service details

      .modal-body
        .form-group
          label.control-label(for="m-elasticsearch-name") Name
          input.input-sm#m-elasticsearch-name.form-control(type="text", placeholder="Enter Elasticsearch name")
        .form-group
          label.control-label(for="m-elasticsearch-uri") Elasticsearch baseURL
          input.input-sm#m-elasticsearch-uri.form-control(type="text", placeholder="http://elasticsearch.com")
        .form-group
          label.control-label(for="m-elasticsearch-index") Elasticsearch index
          input.input-sm#m-elasticsearch-index.form-control(type="text", placeholder="index")
        .form-group
          label.control-label(for="m-elasticsearch-username") Username
          input.input-sm#m-elasticsearch-username.form-control(type="text", placeholder="username")
        .form-group
          label.control-label(for="m-elasticsearch-password") Password
          input.input-sm#m-elasticsearch-password.form-control(type="password", placeholder="password")

      .modal-footer
        a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
        button.m-add-service-button.btn.btn-small.btn-primary
            i.icon-plus-squared
            | Add Elasticsearch Source
