.modal-dialog
  .modal-content
    form#m-add-mongo-source-form.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title
          | Add a Mongo collection as a new source

      .modal-body
        .form-group
          label.control-label(for="m-mongo-source-name") Source name
          input.input-sm#m-mongo-source-name.form-control(type="text", placeholder="Enter source name")
        .form-group
          label.control-label(for="m-mongo-uri") Mongo db connection URI
          input.input-sm#m-mongo-uri.form-control(type="text", placeholder="mongodb://host:27017/database_name")
        .g-validation-failed-message

      .modal-footer
        a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
        button.m-create-mongo-source-button.btn.btn-small.btn-primary
            i.icon-plus-squared
            | Add Source
