.modal-dialog
  .modal-content
    form#m-add-mongo-dataset-form.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title
          | Add a Mongo collection as a new dataset
      .modal-body
        each collection in mongo_collections
          .form-group
            .checkbox
              input.m-add-collections(type="checkbox", name="#{collection}" mongo-collection="#{collection}")
              label
                i.icon-layers.m-add-layers-type-icon
                | #{collection}
      .modal-footer
        a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
        button.m-add-mongo-collections-button.btn.btn-small.btn-primary
            i.icon-plus-squared
            | Add Dataset