.modal-dialog
  .modal-content
    form#m-add-postgres-db-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title
          | Enter Database details
      .modal-body
        .form-group
          label.control-label(for="m-database-name") Database Name
          input.input-sm#m-database-name.form-control(type="text", placeholder="Name")
        .form-group(title='This is of the form [postgresql://][(user name)[:(password)]@](server)[:(port)]/(database)[?(options)]. For example, postgresql://localhost/sampledb')
          label.control-label(for="g-new-dbas-dburi") Database URI
          input.input-sm.form-control#g-new-dbas-dburi(
            type="text", placeholder="URI -- postgresql://(user):(password)@(server):(port)/(database)?(options)")
      .modal-footer
        a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
        button.m-add-service-button.btn.btn-small.btn-primary
            i.icon-plus-squared
            | Add database
