.modal-dialog
  .modal-content
    form#m-add-postgres-source-form.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title
          | Enter Postgres Service details

      .modal-body
        .form-group
          label.control-label(for="m-postgres-name") Name
          input.input-sm#m-postgres-name.form-control(type="text", placeholder="Enter Postgres name")
        .form-group
          label.control-label(for="m-postgres-uri") Postgres baseURL
          input.input-sm#m-postgres-uri.form-control(type="text", placeholder="http://postgres.com")
        .form-group
          label.control-label(for="m-postgres-dbname") Postgres dbname
          input.input-sm#m-postgres-dbname.form-control(type="text", placeholder="dbname")
        .form-group
          label.control-label(for="m-postgres-username") Username
          input.input-sm#m-postgres-username.form-control(type="text", placeholder="username")
        .form-group
          label.control-label(for="m-postgres-password") Password
          input.input-sm#m-postgres-password.form-control(type="password", placeholder="password")

      .modal-footer
        a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
        button.m-add-service-button.btn.btn-small.btn-primary
            i.icon-plus-squared
            | Add Postgres Source
