.modal-dialog
  .modal-content
    form#m-add-postgres-db-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title
          | Enter Database details
      .modal-body
        .form-group
          label.control-label(for="m-db-username") User Name
          input.input-sm#m-db-username.form-control(type="text", placeholder="Database User Name")
        .form-group
          label.control-label(for="m-db-password") Password
          input.input-sm#m-db-password.form-control(type="password", placeholder="Database Password")
        .form-group
          label.control-label(for="m-db-server") Server
          input.input-sm#m-db-server.form-control(type="text", placeholder="localhost")
        .form-group
          label.control-label(for="m-db-port") Port
          input.input-sm#m-db-port.form-control(type="text", placeholder="5432")
        .form-group
          label.control-label(for="m-db-name") Database Name
          input.input-sm#m-db-name.form-control(type="text", placeholder="testdb")
      .modal-footer
        p#g-add-postgres-db-error.g-validation-failed-message
        a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
        button.m-add-service-button.btn.btn-small.btn-primary
            i.icon-plus-squared
            | Add database
