.modal-dialog
  .modal-content
    form#m-add-source-form.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title
          | Select source type to add
      .modal-body
        .form-group
          .radio
            input#m-wms-source(type="radio", name="m-source-add-method", checked=true)
            label
              i.icon-layers.m-add-source-type-icon
              | WMS Source
          .radio
            input#m-elasticsearch-source(type="radio", name="m-source-add-method")
            label
              i.icon-search.m-add-source-type-icon
              | Elasticsearch Source
          .radio
            input#m-postgres-source(type="radio", name="m-source-add-method")
            label
              i.icon-search.m-add-source-type-icon
              | Postgres Source
      .modal-footer
        a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
        button.m-add-source-button.btn.btn-small.btn-primary
            i.icon-plus-squared
            | Add Source
