.modal-dialog
  .modal-content
    form#m-add-source-form.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title
          | Select source type to add
      .modal-body
        .form-group
          - var checked = true
          each properties, sourceType in sourceTypes
            .radio
              - var id = 'm-' + sourceType + '-source'
              - var iconClasses = properties.icon + ' m-add-source-type-icon'
              input(type="radio", id=id, name="m-source-add-method", checked=checked)
              label
                i(class=iconClasses)
                | #{properties.label}
              if checked === true
                - checked = false
      .modal-footer
        a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
        button.m-add-source-button.btn.btn-small.btn-primary
          i.icon-plus-squared
          | Add source
