.modal-dialog
  .modal-content
    form#m-add-s3-source-form.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title
          | Enter S3 bucket details
        .modal-body
            .form-group
              label.control-label(for="m-s3-source-name") Source name
              input.input-sm#m-s3-source-name.form-control(type="text", placeholder="Enter source name")
            .form-group
              label.control-label(for="m-s3-bucket") S3 bucket name
              input.input-sm#m-s3-bucket.form-control(type="text", placeholder="Enter bucket name")
            .form-group
              label.control-label(for="m-s3-prefix") Path prefix
              input.input-sm#m-s3-prefix.form-control(type="text", placeholder="Enter prefix path")
            .form-group
              label.control-label(for="m-s3-access-key-id") Access key ID
              input.input-sm#m-s3-access-key-id.form-control(type="text", placeholder="Enter access key ID")
            .form-group
              label.control-label(for="m-s3-secret") Secret access key
              input.input-sm#m-s3-secret.form-control(type="text", placeholder="Enter secret access key")
            .form-group
              label.control-label(for="m-s3-service") Service
              input.input-sm#m-s3-service.form-control(type="text", placeholder="Enter service name")
            .checkbox
              label
                input#m-s3-readonly(type="checkbox")
                | Read only
            .g-validation-failed-message
        .modal-footer
          a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
          button.m-create-s3-source-button.btn.btn-small.btn-primary
              i.icon-plus-squared
              | Add
