.modal-dialog
  .modal-content
    form#m-add-wms-source-form.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title
        | Enter WMS Service details

      .modal-body
        .form-group
          label.control-label(for="m-wms-name") Name
          input#m-wms-name.input-sm.form-control(type="text", placeholder="Enter WMS name")
        .form-group
          label.control-label(for="m-wms-uri") WMS baseURL
          input#m-wms-uri.input-sm.form-control(type="text", placeholder="http://geodata.company.com/geoserver/wms")
        .form-group
          label.control-label(for="m-wms-username") Username
          input#m-wms-username.input-sm.form-control(type="text", placeholder="username")
        .form-group
          label.control-label(for="m-wms-password") Password
          input#m-wms-password.input-sm.form-control(type="password", placeholder="password")

      .modal-footer
        a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
        button.m-add-service-button.btn.btn-small.btn-primary
          i.icon-plus-squared
          | Add layers
