.modal-dialog
  .modal-content
    form#m-choropleth-render-form.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title
          | Choropleth feature rendering options
      .modal-body
        .form-group
          label.control-label(for="m-choropleth-value-source") Color by
          select#m-choropleth-value-source.form-control.input-sm
            each value in values
              option(value=value)= value
        label(for="m-choropleth-color-config") Color scheme
        #m-choropleth-color-config.btn-group(role="group")
          each ramp, name in colors
            button.btn.btn-default(type="button", data-color-name=name, data-color-length="6")
              ul.m-color-ramp
                each color in ramp[6]
                  li(style=`background-color: ${color}`)

      .modal-footer
        a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
        button.m-choropleth-render-button.btn.btn-small.btn-primary(type="submit")
          i.icon-check
          | Save
