.modal-dialog
  .modal-content
    form.modal-form(role="form")
        .modal-header
          button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
          h4.modal-title
            | S3 Bucket
        .modal-body
          #datasetHeirarchy