.m-dataset-sharing.modal-dialog
  .modal-content
    .modal-header
      button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
      h4.modal-title
        span
          i.icon-share
          | Share dataset
    .modal-body
      table
        tr
          th Dataset
          th Sharing
        each dataset in datasets
          tr
            td.dataset-name= dataset.get('name')
            td.checkbox-container
              input(type='checkbox', checked=sharedMap[dataset.id], data-dataset-id=dataset.id)
    .modal-footer
      a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
      button.save.btn.btn-small.btn-primary(type="button") Save
