.modal-dialog
  .modal-content
    form#m-session-edit-form.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title
          if (session)
            | Edit session
          else
            | Create session
      .modal-body
        .form-group
          label.control-label(for="m-session-name") Name
          input#m-session-name.input-sm.form-control(type="text", placeholder="Enter session name")
        .form-group
          label.control-label(for="m-session-description") Short description (optional)
          textarea#m-session-description.input-sm.form-control(placeholder="Enter short description")
        .g-validation-failed-message
      .modal-footer
        a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
        button.m-save-session.btn.btn-small.btn-primary(type="submit")
          if (session)
            i.icon-edit
            | Save
          else
            i.icon-plus-squared
            | Create
