.modal-dialog
  .modal-content
    form#m-elasticsearch-form.modal-form(role="form")
        .modal-header
          button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
          h4.modal-title
            | Elasticsearch Query
        .modal-body
            .form-group.m-elasticsearch-dataset-name-group
                label.control-label(for='m-elasticsearch-dataset-name') Output dataset name
                input.input-sm#m-elasticsearch-dataset-name.form-control(type="text")
            .form-group.m-elasticsearch-dataset-params-group
                label.control-label(for="m-elasticsearch-dataset-params") JSON search params
                textarea#m-elasticsearch-dataset-params.form-control(rows=20)
            .g-validation-failed-message
        .modal-footer
            a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
            button.m-run-elasticsearch-query.btn.btn-small.btn-primary(type="submit")
                i.icon-play-circled
                | Run
