.form-group.m-gaiaProcessParamsGroup
  label.control-label(for="m-gaia-args") #{value.title} (#{value.description})
  if (value.type === "<type 'float'>")
    input#m-gaia-args.input-sm.form-control(type="number", name=value.name)
  if (value.type === "<type 'str'>")
    input#m-gaia-args.input-sm.form-control(type="text", name=value.name) 
