.form-group.m-gaiaProcessParamsGroup
  label.control-label(for="m-gaia-args") #{formattedTitle}
  if (type === "<type 'float'>")
    input.input-sm#m-gaia-args.form-control(type="number", name=title)
  if (type === "<type 'str'>")
    input.input-sm#m-gaia-args.form-control(type="text", name=title) 
