.modal-dialog
  .modal-content
    .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title
          | Job Details
      .modal-body
        .jobDetailsWrapper
