.modal-dialog
  .modal-content
    form#m-json-geo-render-form.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title
          | Visual mapping
      .modal-body
        .m-geojson-style.hidden(assume-no-change)

      .modal-footer
        if currentUser.id === dataset.get('creatorId')
          .checkbox
            label
              input.save-to-dataset(type="checkbox", checked=saveToDataset)
              | Save to dataset
        a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
        button.m-geo-render-button.btn.btn-small.btn-primary(type="submit") OK
