form.form-horizontal.m-point-style
  .m-control-header Fill
  .form-group
    label.col-sm-1.control-label(for='m-point-radius') Radius
    .col-sm-3
      input.form-control#m-point-radius(type='number' min=1)
    label.col-sm-1.control-label(for='m-point-fill-color') Color
    .col-sm-3
      input.form-control#m-point-fill-color(type='color')
    label.col-sm-1.control-label(for='m-point-fill-opacity') Opacity
    .col-sm-3
      input.form-control#m-point-fill-opacity(type='range' min=0 max=1 step=0.01)

  .m-control-header Stroke
  .form-group
    label.col-sm-1.control-label(for='m-point-stroke-width') Width
    .col-sm-3
      input.form-control#m-point-stroke-width(type='number' min=0)
    label.col-sm-1.control-label(for='m-point-stroke-color') Color
    .col-sm-3
      input.form-control#m-point-stroke-color(type='color')
    label.col-sm-1.control-label(for='m-point-stroke-opacity') Opacity
    .col-sm-3
      input.form-control#m-point-stroke-opacity(type='range' min=0 max=1 step=0.01)
