.modal-dialog
  .modal-content
    form#m-postgres.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title
          | Postgres geojson
      .modal-body
        .form-group
          label.control-label(for="m-postgres-source") Source
            select.form-control#m-postgres-source
              option
              each val in sources
                option(value=val,selected=val==selectedSource)= val
        .m-query-builder
      .modal-footer
        a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
        button#m-get-geojson.btn.btn-small.btn-primary
            i.icon-plus-squared
            | Get Geojson

