.m-postgres-modal.modal-dialog.modal-lg
  .modal-content
    form#m-postgres.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title
          | Postgres
      .modal-body
        .form-group(class=invalidDatasetName?"has-error":'')
          label.control-label(for="m-postgres-dataset-name") Dataset name
            input.form-control#m-postgres-dataset-name(type='text', value=datasetName)
            if invalidDatasetName
              span.help-block required
        .form-group
          label.control-label(for="m-postgres-source") Geospatial source
            select.form-control#m-postgres-source
              option
              each source in sources
                option(value=source,selected=source==selectedSource)= source
        if columns.length
          .form-group
            label.control-label(for="m-postgres-field") Field
              select.form-control#m-postgres-field
                option
                each column in columns
                  option(value=column.name,selected=column.name==selectedField)= column.name
        .m-query-builder
      .modal-footer
        a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
        button#m-get-geojson.btn.btn-small.btn-primary
            i.icon-plus-squared
            | Get geometry

