.modal-dialog
  .modal-content
    form#m-add-wms-source-form.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title
          | Style WMS Layer

      .modal-footer
        a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
