.modal-dialog
  .modal-content
    form#m-terra-similarity-form.modal-form(role="form")
        .modal-header
          button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
          h4.modal-title
            | Similar MSAs
        .modal-body
          .form-group.m-terra-similarity-input-dataset
            label.control-label(for="m-terra-similarity-input-location") Location
            select.form-control.input-sm#m-terra-similarity-input-location
              each location in locations
                  option(value=location) #{location}
            select.form-control.input-sm#m-terra-similarity-input-covars(multiple="multiple", name="covars")
              each covar in covars
                  option(value=covar) #{covar}
            .g-validation-failed-message
        .modal-footer
            a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
            button.m-run-terra-similarity.btn.btn-small.btn-primary(type="submit")
                i.icon-play-circled
                | Run
