.modal-dialog
  .modal-content
    form#m-add-layers-form.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title
          | Select a layer
      .modal-body
        each layer in layers
          .form-group
            .checkbox
              input#m-add-layers(type="checkbox", name="#{layer}")
              label
                i.icon-layers.m-add-layers-type-icon
                | #{layer}
      .modal-footer
        a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
        button.m-add-layers-button.btn.btn-small.btn-primary
            i.icon-plus-squared
            | Add Layer
