import os

PROJECT_ROOT = os.path.abspath(os.path.dirname(__file__))

SITEURL = "{{site_url}}"

DATABASES = {
    'default': {
         'ENGINE': 'django.db.backends.postgresql_psycopg2',
         'NAME': '{{db_metadata_instance}}',
         'USER': '{{db_user}}',
         'PASSWORD': '{{db_password}}',
         'PORT': '5432'
     },
    # vector datastore for uploads
    '{{ app_name }}' : {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': '{{db_data_instance}}',
        'USER' : '{{db_user}}',
        'PASSWORD' : '{{db_password}}',
        'HOST' : 'localhost',
        'PORT' : '5432'
    }
}

# OGC (WMS/WFS/WCS) Server Settings
OGC_SERVER = {
    'default' : {
        'BACKEND' : 'geonode.geoserver',
        'LOCATION' : 'http://localhost:8080/geoserver/',
        'PUBLIC_LOCATION' : SITEURL + 'geoserver/',
        'USER' : '{{ geoserver_user }}',
        'PASSWORD' : '{{ geoserver_password }}',
        'MAPFISH_PRINT_ENABLED' : True,
        'PRINT_NG_ENABLED' : True,
        'GEONODE_SECURITY_ENABLED' : True,
        'GEOGIG_ENABLED' : False,
        'WMST_ENABLED' : False,
        'BACKEND_WRITE_ENABLED': True,
        'WPS_ENABLED' : False,
        'LOG_FILE': '/tmp/geoserver.log',
        # Set to name of database in DATABASES dictionary to enable
        'DATASTORE': '{{ app_name }}', #'datastore',
    }
}

CATALOGUE = {
    'default': {
        'ENGINE': 'geonode.catalogue.backends.pycsw_local',
        'URL': '%scatalogue/csw' % SITEURL,
    }
}

MEDIA_ROOT = "/var/www/{{ app_name }}/uploaded"
STATIC_ROOT = "/var/www/{{ app_name }}/static"

POSTGIS_VERSION = (2, 1, 7)
