// HACK - we should have a better solution here for
//        including minerva jade "functions"
include ../../../minerva/web_external/templates/layout/panelMixins.jade

+panel-title('Compute Resources', 'm-resource-panel')
  i.m-add-computeresource.m-icon-enabled.icon-plus-squared(title="Add new compute resource")

+panel-content('collapse in')
  #m-resource-panel-resources
    each resource in resources
      - var attributes = {'m-resource-id': resource.get('_id')}
      .m-resource
        .m-cluster-details&attributes(attributes)= resource.get('name') + '-' + resource.get('status')
          .m-cluster-actions(style='float:right')
            if resource.hasPendingOperation()
              i(class='icon-spin5 animate-spin')&attributes(attributes)
            else if resource.get('status') == 'terminated'
              i(class='icon-cancel m-remove-cluster')&attributes(attributes)
            else if resource.isProvisionable()
              i(class='icon-tasks m-provision-cluster', title='Provision Cluster')&attributes(attributes)
              i(class='icon-off m-terminate-cluster')&attributes(attributes)
            else
              i(class='icon-off m-terminate-cluster')&attributes(attributes)
