{
    "girder": {
        "baseUrl": "http://{{local_hostname.stdout if inventory_hostname == 'hpccloud' else ansible_default_ipv4['address'] }}:{{ girder_port }}/api/v1",
        "user": "cumulus",
        "group": "cumulus"
    },
    "moabReader": {
        "pluginPath": "/opt/hpccloud/moabreader/build/libvtkCmbMoabReaderPlugin.so"
    },
    "ssh": {
        "keyStore": "{{ cumulus_keys_directory }}"
    },

    "amis": {
    }
}
