include ../layout/panelMixins.pug

+panel-title('Analyses', 'm-analysis-panel')

+panel-content('collapse in')
  .m-analyses
     each analysis in analyses
       if analysis.metadata()
         .m-analysis= analysis.get('name')
           - var attributes = {'m-analysis-id': analysis.get('_id')}
           - var classes = 'icon-play-circled m-attempt-analysis'
           i(class=classes)&attributes(attributes)
