.dataPanelContainer
  .panelTitle
    | Available Datasets
  .loadData
     button.btn.btn-default.m-add-dataset-button(title="Add dataset")
       .icon-plus-squared
         | add dataset
  .savedDatasets
    .savedDatasetsTitle
    .savedDataList
        .datasets
            each dataset in datasets
                if dataset.getMinervaMetadata()
                    .dataset
                      span(title=dataset.get('name'))= dataset.get('name').length > 13 ? dataset.get('name').slice(0,13) + "..." : dataset.get('name')
                        - var attributes = {'m-dataset-id': dataset.get('_id')}
                        if dataset.isRenderable()
                            //- right arrow icon to move dataset into current session
                            - var classes = (dataset.get('displayed') ? 'icon-right-circled icon-disabled dataset-in-session' : 'icon-right-circled icon-enabled add-dataset-to-session')
                            i(class=classes)&attributes(attributes)
                        //- trash icon to delete dataset
                        - var classes = (dataset.get('displayed') ? 'icon-trash delete-dataset icon-disabled dataset-in-session' : 'icon-trash delete-dataset icon-enabled')
                        i(class=classes)&attributes(attributes)
                        //- info icon for minerva metadata display
                        i.icon-info-circled.icon-enabled.dataset-info&attributes(attributes)
                        if dataset.getDatasetType() === 'geojson' && dataset.requireSpecializedRendering()
                            - var displayed = dataset.get('displayed')
                            - var classes = (displayed ? 'icon-brush icon-disabled dataset-colormap' : 'icon-brush icon-enabled dataset-colormap')
                            i(class=classes)&attributes(attributes)
                        //- icon for s3 menu
                        if dataset.get('meta').minerva.original_type === 's3'
                            i(class='icon-menu s3-bucket-menu icon-enabled')&attributes(attributes)
