include ../layout/panelMixins.jade

+panel-title('Datasets', 'm-data-panel')
  i.m-upload-local.m-icon-enabled.icon-upload(title="Upload local file")

if datasets
  +panel-content('collapse in')
    .datasets
      each dataset in datasets
        .dataset
          - var name = getDisplayName(dataset)
          span(title=name)= name
            - var attributes = {'m-dataset-id': dataset.get('_id')}

            // Render the dataset in the map.
            - var geoRenderClasses = getGeoRenderingClasses(dataset)
            if geoRenderClasses
              i(class='icon-eye ' + geoRenderClasses)&attributes(attributes)

            // Delete the dataset.
            - var deleteClasses = getDatasetDeleteClasses(dataset)
            i(class='icon-trash ' + deleteClasses)&attributes(attributes)

            // Display the minerva metadata.
            i.icon-info-circled.m-icon-enabled.m-dataset-info&attributes(attributes)

            - var geoRenderType = dataset.getGeoRenderType()
            //- Cog icon for geo rendering configuration
            if geoRenderType !== null && geoRenderType !== 'wms'
              - var classes = 'icon-cog m-configure-geo-render'
              - classes += (dataset.get('displayed') ? ' icon-disabled dataset-in-session' : ' icon-enabled');
              - classes += ((!dataset.get('displayed') && dataset.get('geoError')) ? ' m-geo-render-error' : '');
              i(class=classes)&attributes(attributes)
