include ../layout/panelMixins.jade

+panel-title('Available Layers', 'm-data-panel')

if datasets
  +panel-content('collapse in')
    .datasets
      each dataset in datasets
        if dataset.metadata()
          .dataset
            span(title=dataset.get('name'))= dataset.get('name').length > 30 ? dataset.get('name').slice(0,30) + "..." : dataset.get('name')
              - var attributes = {'m-dataset-id': dataset.get('_id')}

              if dataset.getDatasetType() === 'wfs'
                i.icon-book
              else
                i.icon-search

              //- Eye icon to move dataset into current session
              if dataset.isGeoRenderable()
                - var classes = (dataset.get('displayed') ? 'icon-eye icon-disabled dataset-in-session' : 'icon-eye icon-enabled add-dataset-to-session')
                i(class=classes)&attributes(attributes)

              //- Table icon for csv
              if dataset.getDatasetType() === 'csv'
                - var classes = 'icon-table m-display-dataset-table'
                - classes += (dataset.get('displayed') ? ' icon-disabled dataset-in-session' : ' icon-enabled');
                i(class=classes)&attributes(attributes)
