.dataPanelContainer
  .panelTitle
    | Available Datasets
  .loadData
     button.btn.btn-default.m-add-dataset-button(title="Upload dataset")
       .icon-plus-squared
         | add dataset
  .savedDatasets
    .savedDatasetsTitle
    .savedDataList
        .datasets
            each dataset in datasets
                if dataset.get('meta').minerva
                    .dataset= dataset.get('name')
                        - var attributes = {'m-dataset-id': dataset.get('_id')}
                        if dataset.get('meta').minerva.geojson_file
                            //- right arrow icon to move dataset into current session
                            - var classes = (dataset.get('displayed') ? 'icon-right-circled icon-disabled dataset-in-session' : 'icon-right-circled icon-enabled add-dataset-to-session')
                            i(class=classes)&attributes(attributes)
                        //- trash icon to delete dataset
                        - var classes = (dataset.get('displayed') ? 'icon-trash delete-dataset icon-disabled dataset-in-session' : 'icon-trash delete-dataset icon-enabled')
                        i(class=classes)&attributes(attributes)
                        //- info icon for minerva metadata display
                        i.icon-info-circled.icon-enabled.dataset-info&attributes(attributes)
                        if dataset.get('meta').minerva.original_type === 'csv' || dataset.get('meta').minerva.original_type === 'json'
                            //- table icon for mapping columns of csv/json
                            - var classes = (dataset.get('displayed') ? 'icon-table csv-mapping icon-disabled dataset-in-session' : 'icon-table csv-mapping icon-enabled')
                            i(class=classes)&attributes(attributes)
