include ../layout/panelMixins.jade

+panel-title('Datasets', 'm-data-panel')
  i.m-upload-local.m-icon-enabled.icon-upload(title="Upload local file")

if datasets
  +panel-content('collapse in')
    .datasets
      each dataset in datasets
        .dataset
          - var name = getDisplayName(dataset)
          span(title=name)= name
            - var attributes = {'m-dataset-id': dataset.get('_id')}

            // Render the dataset in the map.
            - var geoRenderClasses = getGeoRenderingClasses(dataset)
            if geoRenderClasses
              i(class='icon-eye ' + geoRenderClasses)&attributes(attributes)

            // Delete the dataset.
            - var deleteClasses = getDatasetDeleteClasses(dataset)
            i(class='icon-trash ' + deleteClasses)&attributes(attributes)

            // Display the minerva metadata.
            i.icon-info-circled.m-icon-enabled.m-dataset-info&attributes(attributes)

            // Map rendering configuration.
            - var geoRenderingConfigClasses = getGeoRenderingConfigClasses(dataset)
            if geoRenderingConfigClasses
              i(class='icon-cog ' + geoRenderingConfigClasses)&attributes(attributes)
