include ../layout/panelMixins.jade

+panel-title('Available Datasets', 'm-data-panel')

if datasets
  +panel-content('collapse in')
    .datasets
      each dataset in datasets
        if dataset.metadata()
          .dataset
            span(title=dataset.get('name'))= dataset.get('name').length > 13 ? dataset.get('name').slice(0,13) + "..." : dataset.get('name')
              - var attributes = {'m-dataset-id': dataset.get('_id')}
              if dataset.isRenderable()
                //- Eye icon to move dataset into current session
                - var classes = (dataset.get('displayed') ? 'icon-eye icon-disabled dataset-in-session' : 'icon-eye icon-enabled add-dataset-to-session')
                i(class=classes)&attributes(attributes)
              //- trash icon to delete dataset
              - var classes = (dataset.get('displayed') ? 'icon-trash delete-dataset icon-disabled dataset-in-session' : 'icon-trash delete-dataset icon-enabled')
              i(class=classes)&attributes(attributes)
              //- info icon for minerva metadata display
              i.icon-info-circled.icon-enabled.dataset-info&attributes(attributes)
              if dataset.get('meta').minerva.original_type === 'csv' || dataset.get('meta').minerva.original_type === 'json' || (dataset.get('meta').minerva.original_type === 'mongo' && !('spatial_field' in dataset.get('meta').minerva))
                //- table icon for mapping columns of csv/json
                - var displayed = dataset.get('displayed')
                if !displayed && (dataset.get('meta').minerva.original_type === 'json' || dataset.get('meta').minerva.original_type === 'mongo') && (!dataset.get('meta').minerva.json_row)
                  //- when there is no json data, disable the table icon, as if the dataset was displayed
                  - displayed = true
                - var classes = (displayed ? 'icon-table csv-mapping icon-disabled dataset-in-session' : 'icon-table csv-mapping icon-enabled')
                i(class=classes)&attributes(attributes)
