.panelTitle(data-toggle='collapse', data-target='.graphsPanelInner')
  | Graphs
  i(class='icon-up-open close-icon toggle-icon')
.graphsPanelInner.collapse.in
    div#terra-sim-plot.graph
      i.icon-cancel remove
      i.icon-cog settings
    div#terra-dd-plot.graph
      i.icon-cancel remove
      i.icon-cog settings
