include ../layout/panelMixins.jade

+panel-title('Jobs')
  i(class='icon-up-open',
    data-toggle='collapse',
    data-target='#m-jobs-panel > .m-panel-content')


+panel-content('collapse in')
  .m-jobsListContainer
