.layersPanelContainer
    .panelTitle
      | Session Layers
    .layersList
      ul.datasets
        each dataset in datasets
          li.dataset= dataset.get('name')
              i.icon-eye-off.m-remove-dataset-from-layer&attributes({'m-dataset-id': dataset.get('_id')})
              each option in layersOrderOptions
                  i(class='icon-angle-#{option.class} m-order-layer')&attributes({'m-dataset-id': dataset.get('_id'), 'm-order-option': option.method})
              if dataset.getDatasetType() === 'wms'
                  .m-opacity-container
                    i.icon-ajust
                    input.m-opacity-range&attributes({'m-dataset-id': dataset.get('_id')})(type='range', min=0, max=1, step=0.01, value=dataset.get('opacity'))
