include ../layout/panelMixins.jade

+panel-title('Session Layers')
  i(class='icon-up-open',
    data-toggle='collapse',
    data-target='#m-layer-panel > .m-panel-content')
  i(class='icon-cancel')

+panel-content('collapse in')
  .layersList
    ul.datasets
      each dataset in datasets
        li.dataset= dataset.get('name')
          i.icon-cancel-circled.m-remove-dataset-from-layer&attributes({'m-dataset-id': dataset.get('_id')})
          if dataset.getDatasetType() === 'wms'
            .m-opacity-container
              i.icon-ajust
              input.m-opacity-range&attributes({'m-dataset-id': dataset.get('_id')})(type='range', min=0, max=1, step=0.01, value=dataset.get('opacity'))
