include ../layout/panelMixins.jade
include ../widgets/legendWidget.jade

+panel-title('Active Layers', 'm-layer-panel')

+panel-content('collapse in')
  .layersList
    ul.datasets
      each dataset, index in datasets
        li.dataset= dataset.get('name').length > 22 ? dataset.get('name').slice(0,22) + "..." : dataset.get('name')
          if dataset.getDatasetType() === 'wfs'
            i.icon-book
          else
            i.icon-search
          if dataset.get('geoError')
            i.icon-attention.m-remove-dataset-from-layer&attributes({'m-dataset-id': dataset.get('_id')})
          else
            i.icon-eye-off.m-remove-dataset-from-layer&attributes({'m-dataset-id': dataset.get('_id')})
          .m-layer-control-container
            .m-layer-control-container
              i.icon-ajust
              input.m-opacity-range&attributes({'m-dataset-id': dataset.get('_id')})(type='range', min=0, max=1, step=0.01, value=dataset.get('opacity'))
              - var renderType = dataset.getGeoRenderType()
              if (renderType === 'wms')
                - var legend = 'data:image/png;base64,' + dataset.metadata().legend
                +legend(dataset.get('_id'), legend)
