.panelTitle(data-toggle='collapse', data-target='.renderedResultsPanelInner')
  | Filter Data
  i(class='icon-up-open close-icon toggle-icon')
.renderedResultsPanel.collapse.in(style='padding:4px')
  p Showing #{numDataPoints} points in #{numLocs} locations
  p Filter results further, by FTS, or date-range
