.m-session-header
  #m-session-info(style='margin-left:5px')

.mapPanelMap&attributes({'style': 'position:absolute'})
.gridster
  ul(style='float:left;width:300px')
    li.analysisPanel
    li.m-source-panel
    li.dataPanel
    li.layersPanel(style='display:none')
    li.renderedResultsPanel(style='display:none')
    li.jobsPanel
    li.animationPanel
  ul(style='float:right;width:545px')
    li.graphsPanel(style='display:none')
    li.terraSimilarityPlot(style='display:none')
    li.terraDiffInDiffPlot(style='display:none')
    li.imagespacePanel(style='display:none')
