.m-session-header
  .m-session-header-buttons
    if (accessLevel >= girder.AccessType.WRITE)
      button.m-save-session-button.btn.bn-small(title="Save session", disabled="disabled")
        | Save
        i.icon-check

      if (accessLevel >= girder.AccessType.WRITE)
        .btn-group.pull-right
          button.m-session-actions-button.btn.btn-default.dropdown-toggle(
              data-toggle="dropdown", title="Session actions")
            i.icon-menu
            |  Actions
            i.icon-down-dir
          ul.m-session-actions-menu.dropdown-menu.pull-right(role="menu")
            li(role="presentation")
              a.m-edit-session(role="menuitem")
                i.icon-edit
                | Edit session
            li(role="presentation")
              a.m-edit-baselayer(role="menuitem")
                i.icon-bullseye
                | Recenter base layer
            if (accessLevel  >= girder.AccessType.ADMIN)
              li.divider(role="presentation")
              li(role="presentation")
                a.m-delete-session(role="menuitem")
                  i.icon-trash
                  | Delete session

  .m-session-title= session.get('name')
  .m-session-description= session.get('description')

#m-panel-groups
