.m-session-header
  .m-title= session.get('name') 
    if session.get('description')
      | - #{session.get('description')}
  .m-session-header-buttons
    if (accessLevel >= AccessType.WRITE)
      button.m-save-session-button.btn.btn-sm(title="Save session", disabled="disabled")
        | Save
        i.icon-check

      if (accessLevel >= AccessType.WRITE)
        .btn-group.pull-right
          button.m-session-actions-button.btn.btn-sm.btn-default.dropdown-toggle(
              data-toggle="dropdown", title="Session actions")
            i.icon-menu
            |  Session
            i.icon-down-dir
          ul.m-session-actions-menu.dropdown-menu.pull-right(role="menu")
            li(role="presentation")
              a.m-add-session(role="menuitem")
                i.icon-plus
                | New session
            li(role="presentation")
              a.m-edit-session(role="menuitem")
                i.icon-edit
                | Edit session
            li(role="presentation")
              a.m-edit-baselayer(role="menuitem")
                i.icon-bullseye
                | Recenter base layer
            if sessionsList.length
              li.divider(role="presentation")
              each session in sessionsList
                li(role="presentation")
                  a.m-session-link(m-session-cid=session.cid)
                    i.icon-right-open
                    = session.get('name')
            if (accessLevel  >= AccessType.ADMIN)
              li.divider(role="presentation")
              li(role="presentation")
                a.m-delete-session(role="menuitem")
                  i.icon-trash
                  | Delete session
#m-panel-groups
