.m-source-panel-container
  .panelTitle
      | Sources
      i.m-add-source.m-icon-enabled.icon-plus-squared(title="Add new source")
      i.m-upload-local.m-icon-enabled.icon-upload(title="Upload local file")
  .m-sourceList
    .m-sources
        each source in sources
            if source.metadata()
                .m-source
                    span(title=source.get('name'))= source.get('name').length > 13 ? source.get('name').slice(0,13) + "..." : source.get('name')
                        - var attributes = {'cid': source.cid}
                        - var display = sourceDisplay(source)

                        if display.action
                          - var classes = 'm-icon-enabled m-display-source-action ' + display.icon + ' ' + display.action
                        else
                          - var classes = 'm-icon-disabled m-display-source-action ' + display.icon

                        i(class=classes)&attributes(attributes)
                        - classes = 'icon-trash m-icon-enabled m-delete-source'
                        i(title='delete source', class=classes)&attributes(attributes)
                        //- info icon for minerva metadata display
                        i(title='display source info').icon-info-circled.m-icon-info.m-icon-enabled&attributes(attributes)
F
