.terraSimilarityPlot
  .panelTitle
        | Terra Similarity

  #ts-analysis-overlay
    #ts-analysis-overlay-options
      form#ts-analysis-grouping
        input(type="radio", name="grouping", value="monthly", checked="1")
        | Monthly
        input(type="radio", name="grouping", value="weekly")
        | Weekly
        input(type="radio", name="grouping", value="daily")
        | Daily

        input(type="text", name="daterangepicker")

      if !similarMsas
        span No similarity data found
      else
        span #{msa} is similar to:

        ul
          each msa in similarMsas
            li= msa

    .plot
