{
    "coverage": {
        "enabled": true,
        "metadata": {
            "entry": [
                {
                    "@key": "time",
                    "dimensionInfo": {
                        "defaultValue": "",
                        "enabled": true,
                        "presentation": "LIST",
                        "units": "ISO8601"
                    }
                }
            ]
        }
    }
}

