.g-config-breadcrumb-container
p.g-minerva-geocoding-config Configure the geonames service
form.form-horizontal#g-minerva-geocoding-form(role="form")
  .form-group
    label.control-label.col-sm-2(for="minerva.geonames_folder") Geonames folder
    .col-sm-4
      input.input-sm.form-control#minerva.geonames_folder(type="text")
    .col-sm-4
      button.btn.btn-primary#g-minerva-submit-button(type="submit", role="button") Save
  p#g-minerva-error-message.g-validation-failed-message
