.modal-dialog
  .modal-content
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title
            | Provision #{cluster.get('name')}
        .modal-body
          form.provision-cluster-form
            .form-group
              label.control-label(for="m-cluster-provision-playbook") Playbook
              select.input-sm#m-cluster-provision-playbook.form-control
                option(value="gridengine/site") SunGrid Engine
            .g-validation-failed-message
      .modal-footer
        a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
        a.m-cluster-provision-button.btn.btn-small.btn-primary
              i.icon-plus-squared
              | Provision Cluster
