.modal-dialog
  .modal-content
    .modal-header
      button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
      h4.modal-title
          | Select AWS Profile
      .modal-body
        div.list-group
        if profiles.length
          each profile in profiles
            - var buttonClasses = "m-select-profile list-group-item"
            button(id=profile._id, class=buttonClasses)
              label #{profile.name}
              i.m-aws-delete-profile.icon-trash(style='float:right')
        else
          p No profiles exist yet!
      .modal-footer
        a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
        button.m-create-new-aws-profile-button.btn.btn-small.btn-primary
              i.icon-plus-squared
              | Create New Profile
