.m-header-wrapper
  .m-icons-wrapper
    a.m-home-link(title="Home", href="#")
      i.icon-home
    a.m-maps-link(title="Maps", href="#maps")
      i.icon-globe
  .m-current-user-wrapper
  .g-clear-both
