.m-header-wrapper
  a.m-sessions-link(title="Sessions", href="#").m-logo
    img.m-title-figure-img(src="#{staticRoot}/built/plugins/minerva/images/owl.png")
    .m-app-title Minerva
  .m-current-user-wrapper
  .g-clear-both
