mixin panel-title(title, panelId)
  .m-panel-title= title
    span
      block
      i.icon-up-open(data-toggle='collapse', data-target=`#${panelId} > .m-panel-content`)
      i.icon-cancel.m-remove-panel

mixin panel-content(cls)
  .m-panel-content(class=cls)
    if block
      block
