#m-data-panel
  .m-panel-content
    margin 0

  text-align center

  i.icon-faded
    color #6b6b6b !important

  button.icon-button
    background none
    border none
    margin 0
    padding 0

    &:focus
      outline none

    &:disabled
      i
        color #cccccc

  .action-bar
    padding 2px
    border-bottom 1px solid #ececec

  .source-title, .category-title
    font-weight bold
    text-align left
    padding 2px
    border-style none
    border-width 0px
    i
    .icon-folder
      float left
    .icon-folder-open
      float left

    &:hover
      background-color #DFF6E8
      cursor pointer

  .m-sub-category
    margin-left 5px

  .checkbox-container
    width 20px
  
    input[type='checkbox']
      display none
      margin-top 0
      margin-bottom 0
      position relative
      top 2px
      left 4px

    &:hover, &.show-checkbox
      i
        display none

      input[type='checkbox']
        display inline

  i
    color #444
    
    &.icon-disabled
      color #cccccc
    
    &.icon-enabled:hover
      color #66a
      cursor pointer

  .dataset
    padding-left 0px
    text-align left
    border 0
    margin-left 5px
    padding 2px
    background-color #FFFFFF

    i
      color #444

      &.icon-disabled
        color #cccccc
      &.icon-enabled:hover
        color #66a
        cursor pointer

    i
      &.m-geo-render-error
        color #ff751a

        &:hover
            color #d35400
            cursor pointer

    .m-control-left
      float left

    .m-name
      float left
      width calc(100% - 80px)
      white-space nowrap
      overflow-x hidden
      text-overflow ellipsis
    
    .m-control-right
      float right
