#m-data-panel
  text-align center

  .source-title
    font-weight bold
    text-align left
    margin 1px
    padding 2px
    background-color #DFF6E8
    border-style none
    border-width 0px
    i
    .icon-folder
      float left
    .icon-folder-open
      float left

  .source-title:hover
    background-color #D3E9DC
    cursor: pointer

  .category-title
    font-weight bold
    text-align left
    margin 1px
    padding 2px
    background-color #FFBB92
    border-style none
    border-width 0px
    i
    .icon-folder
      float left
    .icon-folder-open
      float left

  .category-title:hover
    background-color #FC9E67
    cursor: pointer

  .dataset
    padding-left 0px
    text-align left
    border 0
    margin 2px
    padding 2px
    background-color #FFFFFF

    i
      color #444
    .icon-disabled
      color #f0f0f0
    .icon-enabled:hover
      color #66a
      cursor pointer
    .icon-info-circled
      float right
    .icon-right-circled
      float left
    .icon-trash
      float right
    .icon-globe
      float left
    .icon-cog
      float right
    .icon-table
      float right

      &.m-geo-render-error
        color #ff751a

        &:hover
            color #d35400
            cursor pointer
