#m-data-panel
  text-align center

  .dataset-subsection
    text-align left
    font-weight bold
    margin-top 10px

  #m-reference-title
    margin-bottom 10px

  .federated-search-subsection
    text-align left
    font-weight bold
    margin-left 5px

  #m-federated-search-date
    margin-bottom 10px

  .dataset
    padding-left 0px
    text-align left
    border 0
    margin 2px
    padding 2px

    i
      color #444
    .icon-disabled
      color #f0f0f0
    .icon-enabled:hover
      color #66a
      cursor pointer
    .icon-info-circled
      float right
    .icon-right-circled
      float left
    .icon-trash
      float right
    .icon-eye
      float right
    .icon-download
      float right
    .icon-download:hover
      color #66a
      cursor pointer
    .icon-cog
      float right
    .icon-table
      float right
    i.icon-book
      float left
    i.icon-search
      float left

      &.m-geo-render-error
        color #ff751a

        &:hover
            color #d35400
            cursor pointer
