.m-session-header
  border-bottom 1px solid #ddd
  margin-bottom 10px
  padding-bottom 5px
  min-height 40px

  .m-session-title
    font-weight bold
    font-size 21px
    color #222

  .m-session-description
    color #666

.gridster

    li
    
        border 1px
        border-color black
        padding 5px
        margin 5px
        border-style solid
