.layersList
    ul
        list-style-type none
        padding-left 0px
        text-align left

    li
        border 0
        margin 2px
        padding 2px

    .icon-cancel-circled
        float left

    .remove-dataset-from-layer
        color #444

    .remove-dataset-from-layer:hover
        color #66a
        cursor pointer

    .m-layer-color-scheme
        float left
        margin-right 2px

    .m-layer-color-band
        width 2px
        height 2px
        padding 2px
