.layersList
    ul
        list-style-type none
        padding-left 0px
        text-align left

    li
        border 0
        margin 2px
        padding 2px

    .icon-eye
        float left

    .icon-eye-off
        float left

    .m-remove-dataset-from-layer
        color #444
        float right

        &:hover
            color #66a
            cursor pointer

    .m-remove-dataset-from-layer.icon-attention
        color #ff751a
        float left

        &:hover
            color #d35400
            cursor pointer
