.layersList
    ul
        list-style-type none
        padding-left 0px
        text-align left

    li
        border 0
        margin 0
        padding 8px 2px

        &:not(:last-child)
            border-bottom 1px solid #e6e6e6

    .icon-button
        color #444

        &:hover
            color #66a
            cursor pointer

    .m-push-right
        float right

        > i
            display block
            float left


    .m-remove-dataset-from-layer.icon-attention
        color #ff751a
        float left

    input.m-opacity-range
        display inline
        width 88%
        position relative
        top 5px
        margin-left 5px