.layersList
    ul
        list-style-type none
        padding-left 0px
        text-align left

    li
        border 0
        margin 2px
        padding 2px

    .icon-button
        color #444

        &:hover
            color #66a
            cursor pointer

    .m-push-right
        float right

        > i
            display block
            float left


    .m-remove-dataset-from-layer.icon-attention
        color #ff751a
        float left

