.mapPanel > .panelTitle
  margin 0px

  .m-save-current-baselayer
    float right

  .m-save-current-baselayer:hover
    color #66a
    cursor pointer


.mapPanelMap
  width 670px
  height 860px
  position absolute

.m-map-legend-container
  position: absolute
  z-index: 400
  bottom: 0
  left: 0
