.m-session-header
  display flex
  align-items center
  position absolute
  top $headerHeight
  left $leftColWidth
  right 0
  padding .5em 1em 
  background-color rgba(242,239,233,.7);
  z-index 9 

  .m-session-title
    flex 1
    font-size 1.2em
    color #333

  .m-session-description
    flex 1
    color #333

  .m-session-header-buttons
    //float right

  .m-save-session-button
    margin-right 10px

.m-panel-title
  font-weight bold
  text-align left
  background-color #f0f0f0
  cursor pointer
  padding 5px 5px
