.m-session-header
  margin-bottom 10px
  padding-bottom 5px
  min-height 85px

  .m-session-title
    font-weight bold
    font-size 21px
    color #222

  .m-session-description
    color #666

  .m-session-header-buttons
    float right

  .m-save-session-button
    margin-right 10px

.gridster
  margin 5px
  z-index 99 // Just need it to be greater than the number of geoJS layers - 1

#example-overlay
  z-index 999

.gridster

    > ul > li

        border 1px solid #d6d6d6
        padding 0px
        list-style-type none
        background-color #ffffff
        opacity .95
        margin-bottom 2px
        border-radius 3px
        height auto

.gridster > ul
   padding-left 0




.panelTitle
    font-weight bold
    text-align left
    background-color #f0f0f0
    cursor pointer
    padding 5px 5px

.panelTitle > i
  float right
