.m-source-panel

    .m-source
        margin 2px
        padding 2px

    .m-icon-enabled:hover
        color #66a
        cursor pointer

    .m-upload-local
        float right

    .m-add-source
        float right

    .m-display-source-action
        float: left

    .m-delete-source
        float right

    .m-icon-info
        float right
