.m-source-panel

    .m-source
        margin 2px
        padding 2px

    .m-icon-enabled:hover
        color #66a
        cursor pointer

    .m-add-source
        float right

    .m-show-wms-layers-list
        float: left

    .m-delete-source
        float right

    .m-icon-info
        float right
