.m-upload-shapefile-title
  font-weight bold
  font-size 20px
  margin-bottom 15px
  border-bottom 1px solid #d7d7d7
  color #666

.m-upload-shapefile-description>p
  margin-bottom 16px

.m-upload-shapefile-error
  color #d44
  margin-top 5px
  font-weight bold

.m-upload-shapefile-container
  padding 15px
  border 1px solid #d9d9b5
  background-color #fafaea

  .m-upload-shapefile-widget
    margin-top 10px
