.m-animation-controls
  .form-group
    margin-bottom 0
    margin-top 0
    select.form-control
      width 50%
      display inline-block
      margin-left 5px
    .btn-sm
      padding 5px 7px
    .input-sm
      padding 3px 5px
    .m-animation-display-label
      font-size 12px
    .m-animation-display-value
      display inline-block
      max-width 60%
      overflow hidden
      padding 0
      padding-left 5px
      height inherit
      vertical-align middle
      white-space nowrap
  .form-group+.form-group
    margin-top 5px
