#m-choropleth-color-config
    .m-color-ramp
        float left
        list-style none
        padding 0px
        margin 0px
        border 3px solid rgb(62, 67, 73)

        li
            height 1em !important
            width 1em
            cursor pointer
            float left
            margin 0px
            padding 0px
            
    button.active
        background-color rgb(62, 67, 73)

        .m-color-ramp
            outline: 2px solid white;
