@import './infoTableMixin.styl'

.m-dataset-info-table
  info-table()

.modal-dialog.wrapping-content
    position relative
    display table
    overflow-y auto
    overflow-x auto
    width auto
    min-width 300px
