@import './infoTableMixin.styl'

#m-feature-info-dialog
  padding-right 5px

.m-feature-info-popup
  max-height 70vh
  max-width 70vh
  padding-right 10px
  overflow-y auto

  .m-layer:not(:first-child)
    margin-top 20px


  .m-feature-info-table
    info-table()
