.header
  td
    border 1px solid
    padding 2px
    background-color lightgrey

.even
  td
    border 1px solid
    padding 2px
    background-color #ffffff

.odd
  td
    border 1px solid
    padding 2px
    background-color #e7e7e7
