.m-color-ramp
    list-style none
    padding 0
    margin 2px
    height 1.5em
    width 100%

    li
        height 100%
        width 16%
        float left
        margin 0
        padding 0

.m-geojson-style
    .form-group
        margin-bottom 5px

        .m-constant-value[type="color"]
            padding-top 3px
            padding-bottom 3px


    .dropdown-menu
        .dropdown-header
            color #777
            background-color #fff
