.m-color-ramp
    list-style none
    padding 0
    margin 2px
    height 1.5em
    width 100%

    li
        height 100%
        width 16%
        float left
        margin 0
        padding 0

.m-geojson-style
    margin-bottom -20px

    .form-group
        margin-bottom 5px

        .m-constant-value[type="color"]
            padding-top 3px
            padding-bottom 3px


    .dropdown-menu
        .dropdown-header
            color #777
            background-color #fff

    .slider.slider-horizontal
        margin-top 3px
        margin-bottom 3px
        width 100%
        height 28px

    .nav-tabs
        border none

    #m-style-tab-content
        .tab-pane
            margin-bottom 15px
            padding 15px 15px 0px 15px
            border 1px solid #ddd

    li.active
        .m-style-tab
            background-color #337ab7
            color #fff
        .m-style-tab:hover
            background-color #337ab7
            color #fff

    input[type="color"]
        padding 3px 6px 3px 6px

    .m-select-ramp > button
        padding-bottom 3px
        padding-top 3px
