.odd
  background: #f3f3f3;

.m-table-wrapper
  float left
  border 1px solid #d0d0d0
  white-space nowrap

.m-key-column, .m-value-column
  display inline-block

  div
    line-height 25px
    letter-spacing 0.25px

.m-key-column
  border-right 1px solid #d0d0d0

  div
    padding 0 8px 0 12px

.m-value-column
  div
    padding 0 12px 0 8px
