.jsonrowDataContainer
    padding 20px
    border-top 1px solid #e5e5e5

    .jsonrowDataContainerHeader
        padding-bottom 20px

        .hide-keymap-preview
            float right
            cursor pointer
        .show-keymap-preview
            float right
            display none
            cursor pointer

.example-value
    margin 10px 20px
