@media (min-width: 1300px)
    .m-postgres-modal.modal-lg
        width 1200px

.m-postgres-modal
    label.no-margin-bottom
        margin-bottom 0

    .form-control.has-min-width
        min-width 130px

    .help-block
        margin-top 0px
        font-weight normal

    div.geometry-field-container

        label
            font-weight normal

        .form-group
            margin-bottom 10px

        .link-container
            select, input
                display inline-block
                width auto
            select:not(:first-child), input:not(:first-child)
                margin-left 3px
            button
                display none

        .link-container:hover
            button
                display inline-block


        .link-container:not(:first-child)
            margin-top 3px

        button
            padding 2px
            line-height 1.2
            margin-left 10px