.m-slippy-layers
    height 500px
    overflow auto

    input
        cursor pointer

.m-layer-control-container
    width 100%
    margin 10px

    i.icon-ajust
        float left
        margin-top -2px
    input
        width 80%

#m-filter-layers
    margin-top 10px

.m-disable-text:hover
    cursor not-allowed
