.m-tableDataContainer
    padding 20px
    border-top 1px solid #e5e5e5

    .csv-title
        font-weight bold

    .m-tableDataContainerHeader
        padding-bottom 20px

        .hide-table-preview
            float right
            cursor pointer
        .show-table-preview
            float right
            display none
            cursor pointer

.m-table-container
    margin-top 20px
    height 100%
    overflow scroll

table#data
    margin-top 38px

#data_filter
    position fixed
    right 35px
    top 120px

#data_length
    position fixed
    top 120px
