.m.table-main-container
    width 95%

.dataTable-width
    width 100% !important

#data_wrapper
    padding 15px

.tableDataContainer
    padding 20px
    border-top 1px solid #e5e5e5

    .tableDataContainerHeader
        padding-bottom 20px

        .hide-table-preview
            float right
            cursor pointer
        .show-table-preview
            float right
            display none
            cursor pointer
