.tableDataContainer
    padding 20px
    border-top 1px solid #e5e5e5
    overflow: scroll;

    .tableDataContainerHeader
        padding-bottom 20px

        .hide-table-preview
            float right
            cursor pointer
        .show-table-preview
            float right
            display none
            cursor pointer
