#ts-analysis-overlay
  padding 2px
  .line
    fill none
    stroke #d62728
    stroke-width 3px
    &.comp
      stroke #ff7f0e
  .point
    fill #d62728
    stroke #d62728
    &.comp
      fill #ff7f0e
      stroke #ff7f0e

#ts-analysis-overlay-options
  position absolute
  left 355px
  padding 10px

#ts-analysis-grouping
  float right
  margin-bottom 5px
