.m-wms-layers
    height 500px
    overflow auto

    input
        cursor pointer

.m-layer-control-container
    width 100%
    margin 10px

    i.icon-ajust
        float left
        margin-top -2px
    input
        width 80%

#m-filter-layers
    margin-top 10px

.m-disable-text:hover
    cursor not-allowed


.m-drop-zone
    padding 11px 22px 11px 17px
    font-size 16px
    font-weight bold
    color white
    background-color #5cb85c
    border 1px solid #595
    border-radius 6px
    display inline-block
    margin-bottom 10px

.m-drop-zone:hover
    cursor pointer
    border 1px solid #484
    background-color #4ca84c
    background-image linear-gradient(to bottom, #4ca84c 0%, #5cb85c 100%)

.m-dropzone-show
    border-radius 5px
    border 2px dashed #bbb
    background-color white
    color #999
    font-size 18px
    width 100%
    padding 18px 30px
    text-align center

.m-current-progress-message,.m-overall-progress-message
    color #737373
    margin-top 5px
    margin-bottom 15px

.m-progress-current,.m-progress-overall
    >.progress-bar
      transition none
